.shop-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 998px;
  margin-top: 10px;
}

.cart-container {
  border-left: 1px solid #444444;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;

  position: sticky;
  top: 60px;
}
.product-container {
  padding-left: 20px;
}
